.w3-bar{
    background-color: black;
    border-style: solid;
    border-color: black;
}

.w3-bar-item{
    background-color: black;
    color: white;
    margin-left: 25px;
    
}
body{
    height: 100%;
    background-image: url(assets/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1130px;
    max-width: 2543px;  
}
.w3-card-4{
    position: relative;
    height:800px;
    width: 45%;
    margin-top:300px;
    margin-left:100px;
    position:relative;
    z-index:-1;
    
    color: white;
}
.info-text{
    margin-left: 400px;
    padding-bottom: 40px;
    
    
}
.info-message{
    margin-left: 400px;
}
.info-button{
    margin-left: 400px;
    margin-top: 10px;
}

.promotion-pic{
    height:70%;
    width:70%;
    position: relative;
    left: 1400px;
    bottom: 400px; 
}
.author{
    position: relative;
    left: 1800px;
    bottom: 100px;
}
.project-card{
    position:relative;
    left:450px; 
}
.project{
    margin-top: 50px;
    line-height: 50px;
}
.carousel-project-card{
    left:1400px;
    bottom:770px;  
    position: relative;
    width: 1000px;
    margin-bottom: 50px;
}
.about-card > h1 {
 position:relative;
 bottom:100px;
 left:500px;
}
.about-card > h3 {
position: relative;
bottom: 20px;
left: 500px;
line-height:200%;
}
#about1{
    position: relative;
    left: 600px;
    bottom: 150px;
    background-color:black;
    color: white;
}
#about2{
    position: relative;
    left: 1000px;
    bottom: 560px;
    background-color:black;
    color: white;
}
#about3{
    position: relative;
    left: 1400px;
    bottom: 960px;
    background-color:black;
    color: white;
}

